# 1.0-initial-data-exporation

In [1]:
# Import required libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

## Review and processing of source data

Firstly, load our dataset and look on it.

In [2]:
# Define the column names for your data
data_columns = ['user_id', 'item_id', 'rating', 'timestamp']
item_columns = ['movie_id', 'movie_title', 'release_date',
                'video_release_date', 'IMDB_URL', 'unknown',
                'Action', 'Adventure', 'Animation', 'Children',
                'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
                'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
                'Sci-Fi', 'Thriller', 'War', 'Western']
user_columns = ['user_id', 'age', 'gender', 'occupation', 'zip_code']

# Load the training and test sets
train_data = pd.read_csv('ml-100k/u1.base', sep='\t', names=data_columns)
test_data = pd.read_csv('ml-100k/u1.test', sep='\t', names=data_columns)

# Load the item and user information
item = pd.read_csv('ml-100k/u.item', sep='|', names=item_columns, encoding='latin-1')
user = pd.read_csv('ml-100k/u.user', sep='|', names=user_columns, encoding='latin-1')

# Merge the dataframes
train_data = pd.merge(train_data, item, how='left', left_on='item_id', right_on='movie_id')
train_data = pd.merge(train_data, user, how='left', on='user_id')

test_data = pd.merge(test_data, item, how='left', left_on='item_id', right_on='movie_id')
test_data = pd.merge(test_data, user, how='left', on='user_id')

# Save the merged data as CSV files
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)

In [3]:
item

,movie_id,movie_title,release_date,video_release_date,IMDB_URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
user

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [5]:
data = pd.concat([train_data, test_data])
data.reset_index(drop=True, inplace=True)
data

,user_id,item_id,rating,timestamp,movie_id,movie_title,release_date,video_release_date,IMDB_URL,unknown,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,zip_code
0,1,1,5,874965758,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,...,0,0,0,0,0,0,24,M,technician,85711
1,1,2,3,876893171,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,...,0,0,0,1,0,0,24,M,technician,85711
2,1,3,4,878542960,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,...,0,0,0,1,0,0,24,M,technician,85711
3,1,4,3,876893119,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,...,0,0,0,0,0,0,24,M,technician,85711
4,1,5,3,889751712,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,...,0,0,0,1,0,0,24,M,technician,85711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,458,648,4,886395899,648,"Quiet Man, The (1952)",01-Jan-1952,NaN,"http://us.imdb.com/M/title-exact?Quiet%20Man,%...",0,...,0,1,0,0,0,0,47,M,technician,Y1A6B
99996,458,1101,4,886397931,1101,Six Degrees of Separation (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Six%20Degrees...,0,...,1,0,0,0,0,0,47,M,technician,Y1A6B
99997,459,934,3,879563639,934,"Preacher's Wife, The (1996)",13-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Preacher's%20...,0,...,0,0,0,0,0,0,22,M,student,29201
99998,460,10,3,882912371,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...,0,...,0,0,0,0,1,0,44,F,other,60630
99999,462,682,5,886365231,682,I Know What You Did Last Summer (1997),17-Oct-1997,NaN,http://us.imdb.com/M/title-exact?I+Know+What+Y...,0,...,1,0,0,1,0,0,19,F,student,02918

In [6]:
data.columns

Index(['user_id', 'item_id', 'rating', 'timestamp', 'movie_id', 'movie_title',
       'release_date', 'video_release_date', 'IMDB_URL', 'unknown', 'Action',
       'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'age', 'gender',
       'occupation', 'zip_code'],
      dtype='object')

In [7]:
data[["user_id", "item_id", "rating", "timestamp", "movie_id", "movie_title", "release_date", "video_release_date", "IMDB_URL"]]

,user_id,item_id,rating,timestamp,movie_id,movie_title,release_date,video_release_date,IMDB_URL
0,1,1,5,874965758,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,1,2,3,876893171,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,1,3,4,878542960,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,1,4,3,876893119,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,1,5,3,889751712,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)
...,...,...,...,...,...,...,...,...,...
99995,458,648,4,886395899,648,"Quiet Man, The (1952)",01-Jan-1952,NaN,"http://us.imdb.com/M/title-exact?Quiet%20Man,%..."
99996,458,1101,4,886397931,1101,Six Degrees of Separation (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Six%20Degrees...
99997,459,934,3,879563639,934,"Preacher's Wife, The (1996)",13-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Preacher's%20...
99998,460,10,3,882912371,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...
99999,462,682,5,886365231,682,I Know What You Did Last Summer (1997),17-Oct-1997,NaN,http://us.imdb.com/M/title-exact?I+Know+What+Y...

In [8]:
num_unique_values = test_data.nunique()
num_unique_values

user_id                 459
item_id                1410
rating                    5
timestamp             13983
movie_id               1410
movie_title            1401
release_date            223
video_release_date        0
IMDB_URL               1400
unknown                   2
Action                    2
Adventure                 2
Animation                 2
Children                  2
Comedy                    2
Crime                     2
Documentary               2
Drama                     2
Fantasy                   2
Film-Noir                 2
Horror                    2
Musical                   2
Mystery                   2
Romance                   2
Sci-Fi                    2
Thriller                  2
War                       2
Western                   2
age                      56
gender                    2
occupation               21
zip_code                416
dtype: int64

Drop item_id, timestamp, movie_title, video_release_date, IMDB_URL, zip_code columns because its useless for our analysis.

In [9]:
# Drop useless columns
data.drop(data.columns[[1, 3, 5, 7, 8, 31]], axis=1, inplace=True)
data

,user_id,rating,movie_id,release_date,unknown,Action,Adventure,Animation,Children,Comedy,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation
0,1,5,1,01-Jan-1995,0,0,0,1,1,1,...,0,0,0,0,0,0,0,24,M,technician
1,1,3,2,01-Jan-1995,0,1,1,0,0,0,...,0,0,0,0,1,0,0,24,M,technician
2,1,4,3,01-Jan-1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,24,M,technician
3,1,3,4,01-Jan-1995,0,1,0,0,0,1,...,0,0,0,0,0,0,0,24,M,technician
4,1,3,5,01-Jan-1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,24,M,technician
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,458,4,648,01-Jan-1952,0,0,0,0,0,1,...,0,0,1,0,0,0,0,47,M,technician
99996,458,4,1101,01-Jan-1993,0,0,0,0,0,0,...,0,1,0,0,0,0,0,47,M,technician
99997,459,3,934,13-Dec-1996,0,0,0,0,0,0,...,0,0,0,0,0,0,0,22,M,student
99998,460,3,10,22-Jan-1996,0,0,0,0,0,0,...,0,0,0,0,0,1,0,44,F,other
99999,462,5,682,17-Oct-1997,0,0,0,0,0,0,...,0,1,0,0,1,0,0,19,F,student

Now we need to encode textual values. Make ordinal encoding for occupation column, one-hot encoding for gender column and replace release_year on release_date column.

In [10]:
# Use One-Hot encoder to encode categorial values with a low level of uniqueness
ohe_encoder = OneHotEncoder(handle_unknown="ignore", sparse=False)
feature = ['gender']
ohe_encoder.fit(data[feature])

new_feat = ohe_encoder.transform(data[feature])
new_cols = pd.DataFrame(new_feat, dtype=int, columns=ohe_encoder.get_feature_names(feature))
data = pd.concat([data, new_cols], axis=1)    
data.drop(feature, axis=1, inplace=True)

# Fit and transform the 'occupation' column
encoder = OrdinalEncoder()
data['occupation'] = encoder.fit_transform(data[['occupation']])

# Convert the 'release_date' column to datetime
data['release_date'] = pd.to_datetime(data['release_date'])

# Extract the year and create a new 'release_year' column, drop ald column
data['release_date'].fillna('01-Jan-1995', inplace=True)
data['release_year'] = data['release_date'].dt.year.astype(int)
data.drop(data.columns[[3]], axis=1, inplace=True)
data

C:\Users\markz\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,user_id,rating,movie_id,unknown,Action,Adventure,Animation,Children,Comedy,Crime,...,Romance,Sci-Fi,Thriller,War,Western,age,occupation,gender_F,gender_M,release_year
0,1,5,1,0,0,0,1,1,1,0,...,0,0,0,0,0,24,19.0,0,1,1995
1,1,3,2,0,1,1,0,0,0,0,...,0,0,1,0,0,24,19.0,0,1,1995
2,1,4,3,0,0,0,0,0,0,0,...,0,0,1,0,0,24,19.0,0,1,1995
3,1,3,4,0,1,0,0,0,1,0,...,0,0,0,0,0,24,19.0,0,1,1995
4,1,3,5,0,0,0,0,0,0,1,...,0,0,1,0,0,24,19.0,0,1,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,458,4,648,0,0,0,0,0,1,0,...,1,0,0,0,0,47,19.0,0,1,1952
99996,458,4,1101,0,0,0,0,0,0,0,...,0,0,0,0,0,47,19.0,0,1,1993
99997,459,3,934,0,0,0,0,0,0,0,...,0,0,0,0,0,22,18.0,0,1,1996
99998,460,3,10,0,0,0,0,0,0,0,...,0,0,0,1,0,44,13.0,1,0,1996
99999,462,5,682,0,0,0,0,0,0,0,...,0,0,1,0,0,19,18.0,1,0,1997

In [11]:
data.isnull().sum()

user_id         0
rating          0
movie_id        0
unknown         0
Action          0
Adventure       0
Animation       0
Children        0
Comedy          0
Crime           0
Documentary     0
Drama           0
Fantasy         0
Film-Noir       0
Horror          0
Musical         0
Mystery         0
Romance         0
Sci-Fi          0
Thriller        0
War             0
Western         0
age             0
occupation      0
gender_F        0
gender_M        0
release_year    0
dtype: int64

In [12]:
train_data = data[:80000]
test_data = data[80000:]
test_data.reset_index(drop=True, inplace=True)

We see that toxic sentences located randomly, so we will make a test(little)/final(big) datasets with all toxic sentences in reference column.

In [13]:
test_data

,user_id,rating,movie_id,unknown,Action,Adventure,Animation,Children,Comedy,Crime,...,Romance,Sci-Fi,Thriller,War,Western,age,occupation,gender_F,gender_M,release_year
0,1,5,6,0,0,0,0,0,0,0,...,0,0,0,0,0,24,19.0,0,1,1995
1,1,3,10,0,0,0,0,0,0,0,...,0,0,0,1,0,24,19.0,0,1,1996
2,1,5,12,0,0,0,0,0,0,1,...,0,0,1,0,0,24,19.0,0,1,1995
3,1,5,14,0,0,0,0,0,0,0,...,1,0,0,0,0,24,19.0,0,1,1994
4,1,3,17,0,1,0,0,0,1,1,...,0,0,1,0,0,24,19.0,0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,458,4,648,0,0,0,0,0,1,0,...,1,0,0,0,0,47,19.0,0,1,1952
19996,458,4,1101,0,0,0,0,0,0,0,...,0,0,0,0,0,47,19.0,0,1,1993
19997,459,3,934,0,0,0,0,0,0,0,...,0,0,0,0,0,22,18.0,0,1,1996
19998,460,3,10,0,0,0,0,0,0,0,...,0,0,0,1,0,44,13.0,1,0,1996
19999,462,5,682,0,0,0,0,0,0,0,...,0,0,1,0,0,19,18.0,1,0,1997

In [15]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler

# Preprocess your data
scaler = StandardScaler()
train_scaled = scaler.fit_transform(train_data)
test_scaled = scaler.transform(test_data)

# Fit the KNN model
knn = NearestNeighbors(n_neighbors=5, metric='cosine')
knn.fit(train_scaled)

# Make recommendations for a user in the test set
test_user = test_scaled[0]
distances, indices = knn.kneighbors(np.array([test_user]))

# Print out the recommended movie ids
recommended_movie_ids = train_data.iloc[indices[0]]['movie_id']
print(recommended_movie_ids)

7      9
13    19
10    15
36    57
38    59
Name: movie_id, dtype: int64

In [16]:
recommended_movie_ids

7      9
13    19
10    15
36    57
38    59
Name: movie_id, dtype: int64

In [28]:
# Assuming 'knn' is your trained model and 'test_scaled' is your preprocessed test set
recommendations = {}
for i in range(test_scaled.shape[0]):
    distances, indices = knn.kneighbors(np.array([test_scaled[i]]))
    recommended_movie_ids = train_data.iloc[indices[0]]['movie_id'].tolist()
    user_id = test_data.iloc[i]['user_id']
    recommendations[user_id] = recommended_movie_ids

KeyboardInterrupt:

In [17]:
item1 = item.copy()

In [18]:
item1 = item.copy()

# Calculate average ratings for 'gender_F'
female_avg_ratings = data[data['gender_F'] == 1].groupby('movie_id')['rating'].mean()
female_avg_ratings.name = 'Female_avg_rating'
item1 = item1.merge(female_avg_ratings, left_on='movie_id', right_index=True, how='left')

# Calculate average ratings for 'gender_M'
male_avg_ratings = data[data['gender_M'] == 1].groupby('movie_id')['rating'].mean()
male_avg_ratings.name = 'Male_avg_rating'
item1 = item1.merge(male_avg_ratings, left_on='movie_id', right_index=True, how='left')

bins = [7, 10, 14, 18, 25, 35, 45, 55, 65, np.inf]
labels = ['7-10', '11-14', '15-18', '19-25', '26-35', '36-45', '46-55', '56-65', '65+']
data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)

# Calculate average ratings for each age group and merge with 'item1'
for label in labels:
    age_avg_ratings = data[data['age_group'] == label].groupby('movie_id')['rating'].mean()
    age_avg_ratings.name = f'{label}_avg_rating'
    item1 = item1.merge(age_avg_ratings, left_on='movie_id', right_index=True, how='left')
    
# Get the unique occupation types
occupation_types = data['occupation'].unique()

# Calculate average ratings for each occupation type and merge with 'item1'
for occupation in occupation_types:
    occupation_avg_ratings = data[data['occupation'] == occupation].groupby('movie_id')['rating'].mean()
    occupation_avg_ratings.name = f'{occupation}_avg_rating'
    item1 = item1.merge(occupation_avg_ratings, left_on='movie_id', right_index=True, how='left')

# Fill null values with 3
item1 = item1.fillna(3)

item1

,movie_id,movie_title,release_date,video_release_date,IMDB_URL,unknown,Action,Adventure,Animation,Children,...,10.0_avg_rating,8.0_avg_rating,1.0_avg_rating,4.0_avg_rating,11.0_avg_rating,12.0_avg_rating,7.0_avg_rating,15.0_avg_rating,16.0_avg_rating,2.0_avg_rating
0,1,Toy Story (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,3.647059,4.0,4.083333,4.043478,3.8,4.166667,3.000000,3.666667,4.00,3.5
1,2,GoldenEye (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,3.000000,3.0,3.000000,3.125000,3.0,4.500000,2.666667,2.000000,3.00,3.0
2,3,Four Rooms (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,2.333333,3.0,3.000000,3.363636,2.0,3.000000,2.000000,3.000000,1.00,3.0
3,4,Get Shorty (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,3.500000,3.0,4.666667,3.739130,3.5,3.500000,3.000000,3.600000,3.75,3.0
4,5,Copycat (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,3.333333,3.0,3.000000,3.000000,3.0,4.500000,3.000000,3.500000,4.00,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,3.0,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0
1678,1679,B. Monkey (1998),06-Feb-1998,3.0,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0
1679,1680,Sliding Doors (1998),01-Jan-1998,3.0,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0
1680,1681,You So Crazy (1994),01-Jan-1994,3.0,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,3.0,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0

In [52]:
# Initialize a DataFrame to store the average ratings
average_ratings = pd.DataFrame(columns=['user_id', 'gender', 'age', 'occupation'] + [f'{label}_avg_rating' for label in labels] + [f'{genre}_avg_rating' for genre in genre_cols])

# For each user
for user_id in data1['user_id'].unique():
    # Select the rows for this user
    user_rows = data1[data1['user_id'] == user_id]
    
    # Get the user's gender, age, and occupation
    gender = "male" if user_rows['gender_M'].iloc[0] == 1 else "female"
    age = user_rows['age'].iloc[0]
    occupation = user_rows['occupation'].iloc[0]
    
    # Calculate the average rating for each release period
    period_avg_ratings = [user_rows[user_rows['release_period'] == label]['rating'].mean() for label in labels]
    
    # Calculate the average rating for each genre
    genre_avg_ratings = [(user_rows[user_rows[genre] == 1]['rating'].mean()) for genre in genre_cols]
    
    # Append the average ratings to the DataFrame
    average_ratings = average_ratings.append(pd.Series([user_id, gender, age, occupation] + period_avg_ratings + genre_avg_ratings, index=average_ratings.columns), ignore_index=True)

# Fill null values with 3
average_ratings = average_ratings.fillna(3)

average_ratings

C:\Users\markz\AppData\Local\Temp\ipykernel_20636\3363754482.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  average_ratings = average_ratings.append(pd.Series([user_id, gender, age, occupation] + period_avg_ratings + genre_avg_ratings, index=average_ratings.columns), ignore_index=True)

,user_id,gender,age,occupation,1922-1950_avg_rating,1951-1970_avg_rating,1971-1980_avg_rating,1981-1990_avg_rating,1991-1998_avg_rating,unknown_avg_rating,...,Fantasy_avg_rating,Film-Noir_avg_rating,Horror_avg_rating,Musical_avg_rating,Mystery_avg_rating,Romance_avg_rating,Sci-Fi_avg_rating,Thriller_avg_rating,War_avg_rating,Western_avg_rating
0,1,male,24,19.0,3.600000,3.111111,4.150000,3.979167,3.502762,4.0,...,3.5,5.0,3.461538,2.923077,3.600000,3.931818,4.000000,3.615385,3.680000,3.666667
1,2,female,53,13.0,3.000000,3.000000,5.000000,3.000000,3.666667,3.0,...,3.0,4.5,3.000000,3.000000,3.500000,4.125000,3.750000,3.583333,3.666667,3.000000
2,3,male,23,20.0,3.000000,3.000000,3.000000,3.000000,2.796296,3.0,...,3.0,2.5,2.400000,2.000000,3.181818,3.400000,2.750000,2.523810,2.800000,3.000000
3,4,male,24,19.0,3.000000,3.000000,4.500000,3.000000,4.380952,3.0,...,3.0,3.0,4.000000,5.000000,4.000000,4.333333,3.833333,3.909091,4.500000,3.000000
4,5,female,33,13.0,3.250000,3.312500,3.083333,2.966667,2.690722,4.0,...,2.5,5.0,2.535714,3.333333,3.000000,2.315789,3.515152,2.947368,3.214286,2.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,939,female,26,18.0,3.000000,3.000000,5.000000,3.000000,4.250000,3.0,...,4.0,3.0,3.000000,4.000000,4.000000,4.800000,4.125000,4.083333,5.000000,3.000000
939,940,male,32,0.0,4.000000,3.428571,3.909091,3.461538,3.360656,3.0,...,3.0,4.0,3.000000,3.142857,4.333333,3.541667,3.052632,3.350000,3.266667,3.000000
940,941,male,20,18.0,3.000000,3.000000,3.000000,3.000000,4.045455,3.0,...,3.0,3.0,3.000000,4.000000,5.000000,5.000000,3.875000,4.000000,5.000000,3.000000
941,942,female,48,10.0,4.636364,4.428571,4.222222,4.666667,4.000000,3.0,...,4.0,5.0,3.666667,4.400000,4.000000,4.411765,4.166667,4.000000,4.700000,4.666667
942,943,male,22,18.0,2.500000,3.363636,3.583333,3.606061,3.354545,3.0,...,2.5,3.0,3.642857,3.750000,3.666667,3.181818,3.000000,3.828571,3.533333,2.555556

In [77]:
item1.loc[item1['movie_id'] == 303]

,movie_id,movie_title,release_date,video_release_date,IMDB_URL,unknown,Action,Adventure,Animation,Children,...,10.0_avg_rating,8.0_avg_rating,1.0_avg_rating,4.0_avg_rating,11.0_avg_rating,12.0_avg_rating,7.0_avg_rating,15.0_avg_rating,16.0_avg_rating,2.0_avg_rating
302,303,Ulee's Gold (1997),01-Jan-1997,3.0,http://us.imdb.com/M/title-exact?Ulee%27s+Gold...,0,0,0,0,0,...,3.8,3.0,3.6,3.75,3.8,3.0,2.666667,3.0,3.5,3.0

In [85]:
average_ratings.loc[average_ratings['user_id'] == 1, "1922-1950_avg_rating" : ]

,1922-1950_avg_rating,1951-1970_avg_rating,1971-1980_avg_rating,1981-1990_avg_rating,1991-1998_avg_rating,unknown_avg_rating,Action_avg_rating,Adventure_avg_rating,Animation_avg_rating,Children_avg_rating,...,Fantasy_avg_rating,Film-Noir_avg_rating,Horror_avg_rating,Musical_avg_rating,Mystery_avg_rating,Romance_avg_rating,Sci-Fi_avg_rating,Thriller_avg_rating,War_avg_rating,Western_avg_rating
0,3.6,3.111111,4.15,3.979167,3.502762,4.0,3.333333,2.928571,3.333333,2.2,...,3.5,5.0,3.461538,2.923077,3.6,3.931818,4.0,3.615385,3.68,3.666667

In [118]:
def calculate_film_rating(user_id, movie_id):
    # Get the user and movie data
    user_ratings = average_ratings[average_ratings['user_id'] == user_id]
    movie = item1[item1['movie_id'] == movie_id]

    # Calculate the genre part of the formula
    genre_cols = ['unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    genre_ratings = [movie[genre].values[0] * user_ratings[f'{genre}_avg_rating'].values[0] for genre in genre_cols if movie[genre].values[0] == 1]
    genre_part = sum(genre_ratings) / len(genre_ratings) if genre_ratings else 0

    # Calculate gender rating
    gender_part = movie['Female_avg_rating'].values[0] if user_ratings['gender'].values[0] == "female" else movie['Male_avg_rating'].values[0]
    
    # Calculate age rating
    age = user_ratings["age"].values[0]
    if (age >= 7 and age <= 10):
        age_part = movie['7-10_avg_rating'].values[0]
    elif (age >= 11 and age <= 14):
        age_part = movie['11-14_avg_rating'].values[0]
    elif (age >= 15 and age <= 18):
        age_part = movie['15-18_avg_rating'].values[0]
    elif (age >= 19 and age <= 25):
        age_part = movie['19-25_avg_rating'].values[0]
    elif (age >= 26 and age <= 35):
        age_part = movie['26-35_avg_rating'].values[0]
    elif (age >= 36 and age <= 45):
        age_part = movie['36-45_avg_rating'].values[0]
    elif (age >= 46 and age <= 55):
        age_part = movie['46-55_avg_rating'].values[0]
    elif (age >= 56 and age <= 65):
        age_part = movie['56-65_avg_rating'].values[0]
    else:
        age_part = movie['65+_avg_rating'].values[0]
    
    # Calculate occupation rating
    occupation_part = movie[str(user_ratings["occupation"].values[0]) + "_avg_rating"].values[0]

    # Calculate release year rating
    year = int((movie["release_date"].values[0])[-4:])
    if (year >= 1922 and year <= 1950):
        year_part = average_ratings['1922-1950_avg_rating'].values[0]
    elif (year >= 1951 and year <= 1970):
        year_part = average_ratings['1951-1970_avg_rating'].values[0]
    elif (year >= 1971 and year <= 1980):
        year_part = average_ratings['1971-1980_avg_rating'].values[0]
    elif (year >= 1981 and year <= 1990):
        year_part = average_ratings['1981-1990_avg_rating'].values[0]
    elif (year >= 1991 and year <= 1998):
        year_part = average_ratings['1991-1998_avg_rating'].values[0]

    # Calculate the final film rating
    film_rating = 0.6 * genre_part + 0.1 * gender_part + 0.1 * age_part + 0.1 * occupation_part + 0.1 * year_part

    return film_rating

In [104]:
recommendations = {}
for i in range(test_scaled.shape[0]):
    distances, indices = knn.kneighbors(np.array([test_scaled[i]]))
    recommended_movie_ids = train_data.iloc[indices[0]]['movie_id'].tolist()
    user_id = test_data.iloc[i]['user_id']
    recommendations[user_id] = list(set(recommended_movie_ids))

In [105]:
recommendations

{1.0: [282, 340, 365, 303],
 2.0: [65, 347, 316, 47],
 3.0: [220, 284, 381],
 4.0: [336, 11, 156],
 5.0: [457, 35, 78],
 6.0: [518, 620, 461, 536, 537],
 7.0: [792, 585, 722, 780],
 8.0: [761, 684, 597],
 9.0: [691],
 10.0: [737, 712, 715, 652, 789],
 11.0: [689, 546, 684, 597],
 12.0: [754, 1083, 583],
 13.0: [872, 889, 870],
 14.0: [922, 470],
 15.0: [934, 972, 887, 956, 927],
 16.0: [944],
 17.0: [744, 690, 891, 471],
 18.0: [687, 971, 719],
 19.0: [778, 692],
 20.0: [931, 925],
 21.0: [864, 871, 1002, 1140, 952],
 22.0: [1002, 926, 998],
 23.0: [258, 1006],
 24.0: [1007, 722, 372, 763, 959],
 25.0: [969],
 26.0: [1016, 930, 827, 1013],
 27.0: [322, 1042, 333],
 28.0: [800, 834, 895],
 29.0: [896, 887, 920, 985, 735],
 30.0: [1016, 930, 827],
 31.0: [886, 751],
 32.0: [1016, 930, 827, 1013],
 33.0: [800, 834, 895],
 34.0: [744, 690, 471],
 35.0: [1025, 1556, 917, 685],
 36.0: [672, 681, 674, 774],
 37.0: [866, 739, 764, 1048, 732],
 38.0: [890, 554, 679],
 39.0: [934, 880, 882, 883, 956],
 40.0: [896, 753, 762, 750],
 41.0: [568, 751],
 42.0: [970, 845, 926, 1047],
 43.0: [926, 1047, 952, 1054, 1023],
 44.0: [1058, 924],
 45.0: [715, 941, 1074, 1012, 856],
 46.0: [898, 942, 1017, 956, 958],
 47.0: [792, 756, 1014, 871],
 48.0: [866, 1028, 783, 1041, 765],
 49.0: [1062, 1075, 1017, 1018, 923],
 50.0: [1128, 813, 884, 1142, 1084],
 51.0: [431, 679],
 52.0: [1145, 1221, 934, 942, 1017],
 53.0: [1058, 924],
 54.0: [1088, 833, 810, 1228, 977],
 55.0: [1089, 748],
 56.0: [1057, 995, 1095, 1001, 940],
 57.0: [864, 1095, 1001, 1047, 1182],
 58.0: [1194, 1226, 1106, 628, 1439],
 59.0: [1120, 1177, 710, 1118],
 60.0: [1126],
 61.0: [898, 900, 1134, 1039, 980],
 62.0: [1221, 1134, 1136, 1009, 1018],
 63.0: [955, 1160, 906, 1137, 1211],
 64.0: [1142, 1022],
 65.0: [1331, 813, 1022, 645],
 66.0: [947, 877],
 67.0: [997, 1098, 1007, 1014, 1047],
 68.0: [1002, 926, 998],
 69.0: [1208, 754, 1143, 583],
 70.0: [1133, 951],
 71.0: [896, 900, 887, 920, 923],
 72.0: [1110],
 73.0: [1168, 851, 1268, 1045],
 74.0: [1128, 1331, 813, 1022],
 75.0: [1280, 1011, 1245, 991],
 76.0: [1039, 1009, 1010, 1045, 1017],
 77.0: [1048, 732, 988, 1028],
 78.0: [736, 740, 875, 1297, 921],
 79.0: [1017, 1134, 686, 1231],
 80.0: [748, 886, 751],
 81.0: [1048, 1040, 988],
 82.0: [1415, 929, 791, 1063],
 83.0: [1061, 1170, 1012, 856, 1308],
 84.0: [1040, 1028, 821, 783],
 85.0: [1196, 1068, 1039, 985, 1018],
 86.0: [1216, 872, 694],
 87.0: [1048, 1041, 866, 1028],
 88.0: [737, 1296, 1074, 856, 953],
 89.0: [709, 1041, 938, 781],
 90.0: [1120, 864, 1014, 1047],
 91.0: [1050],
 92.0: [1419, 1215],
 93.0: [718, 1070, 1047, 792, 959],
 94.0: [1194, 1226, 1106, 1439],
 95.0: [1408, 1283, 1140, 1047, 1023],
 96.0: [1130, 813, 1142, 1084, 1022],
 97.0: [573, 670],
 98.0: [866, 709, 938, 1041, 988],
 99.0: [1160, 1132, 1137, 955, 1119],
 100.0: [1220, 1255, 1009, 1171, 1117],
 101.0: [1092, 998, 819, 1209, 926],
 102.0: [947, 877, 1239],
 103.0: [357, 509, 518, 527],
 104.0: [1170, 1074, 1012, 1044, 1426],
 105.0: [684, 597, 685],
 106.0: [936, 778, 692],
 107.0: [392, 272, 378, 340],
 108.0: [515, 651],
 109.0: [1244, 1228, 1222, 1407],
 110.0: [1222, 1228, 977, 1303, 1244],
 111.0: [872, 889, 870, 1024],
 112.0: [975, 986, 987, 943],
 113.0: [1443, 1068, 1134, 1039],
 114.0: [1191, 1194, 1226, 1106, 628],
 115.0: [1073, 1046],
 116.0: [1220, 1255, 1256, 1263, 1117],
 117.0: [1218, 1059, 1047, 1071],
 118.0: [859, 637],
 119.0: [1224, 1264, 1265, 1205, 1145],
 120.0: [1058, 924],
 121.0: [582, 740, 990, 462],
 122.0: [1163, 1039, 1075, 1401, 1018],
 123.0: [956, 972, 942, 1148, 863],
 124.0: [616, 444],
 125.0: [1197, 1296, 1170, 1339, 1308],
 126.0: [1024, 889, 694, 1262],
 127.0: [568, 748, 751],
 128.0: [954, 1142, 1294],
 129.0: [952, 1029, 926, 959],
 130.0: [1304, 1277],
 131.0: [972, 1148, 887, 1147, 956],
 132.0: [922, 470],
 133.0: [568, 748, 751],
 134.0: [1336, 892],
 135.0: [1208, 1069],
 136.0: [850, 1142, 1022],
 137.0: [1185, 971, 687],
 138.0: [496, 617, 612],
 139.0: [676, 475, 508, 461],
 140.0: [1168, 1009, 1045, 699, 956],
 141.0: [1040, 1041, 988, 1028],
 142.0: [800, 895],
 143.0: [682],
 144.0: [835, 1203],
 145.0: [1336, 832, 892, 548],
 146.0: [850, 1084, 813, 1142],
 147.0: [737, 1103, 1296, 789, 856],
 148.0: [1005, 1266, 851, 1021],
 149.0: [896, 962, 753, 882, 1017],
 150.0: [628, 293, 182],
 151.0: [630, 965, 1286],
 152.0: [866, 739, 781, 1041, 785],
 153.0: [619, 717, 678],
 154.0: [806],
 155.0: [1028, 873, 1040, 948, 1048],
 156.0: [661, 646],
 157.0: [1251, 1093, 1202, 1114, 1051],
 158.0: [1166, 1067, 1070, 1047],
 159.0: [866, 1028, 873, 1041, 1048],
 160.0: [1220, 1097, 1134, 1267, 1276],
 161.0: [822, 1113, 1149, 1214],
 162.0: [1035, 1067, 845, 792, 952],
 163.0: [345, 316, 382],
 164.0: [1025, 917],
 165.0: [515, 651, 326],
 166.0: [929, 996, 623, 400, 477],
 167.0: [1369, 837, 1542, 967],
 168.0: [1121, 1278, 1135],
 169.0: [879],
 170.0: [881, 876],
 171.0: [1331, 813, 645, 701],
 172.0: [609, 1172, 1461],
 173.0: [1282, 1285, 1447, 1448, 1330],
 174.0: [1425, 1074, 1061, 1311],
 175.0: [672, 567, 442, 413, 767],
 176.0: [1074, 1012, 941, 1170],
 177.0: [952, 1218, 1098, 1047],
 178.0: [1315, 1132, 846, 1119],
 179.0: [1145, 1146, 1381, 934],
 180.0: [1248, 1217, 1073, 1077, 1207],
 181.0: [1380, 1382, 1389, 1359, 1391],
 182.0: [864, 901, 1001, 824, 926],
 183.0: [1217, 986, 1090, 1073],
 184.0: [1355, 1260, 1263, 1017, 1086],
 185.0: [591, 678, 742],
 186.0: [1011, 1277, 991],
 187.0: [1315, 1132, 1400, 1211, 990],
 188.0: [1208, 1069, 1213],
 189.0: [1465, 1197, 1103],
 190.0: [1313, 654],
 191.0: [1068, 1107, 887, 1112, 762],
 192.0: [1443, 1193, 1355, 1524, 1268],
 193.0: [1315, 1132, 1297, 1137, 1429],
 194.0: [1078, 1066, 1412, 1470],
 195.0: [1193, 1514, 1481, 1516, 1375],
 196.0: [1242, 845, 1118, 1007],
 197.0: [1416, 797, 1215],
 198.0: [1221, 934, 942, 1168, 1145],
 199.0: [473, 538, 596, 989],
 200.0: [1411],
 201.0: [1224, 1481, 1355, 1421, 1401],
 202.0: [497, 604, 609],
 203.0: [581, 678, 742, 717, 591],
 204.0: [880, 1017, 1171, 1117],
 205.0: [773, 1038, 983, 595, 1207],
 206.0: [1163, 1233, 1009, 1395, 1432],
 207.0: [1400, 1297, 1211, 1315],
 208.0: [745, 663],
 209.0: [1160, 905, 1297, 1300, 949],
 210.0: [737, 1186, 1074, 1012, 1237],
 211.0: [456, 881, 876, 864],
 212.0: [515, 651],
 213.0: [1419, 1215],
 214.0: [1281, 1148, 1112, 1468, 1117],
 215.0: [896, 1017, 1260, 887],
 216.0: [1161, 686, 1231],
 217.0: [1088, 1413, 1222, 1228, 1407],
 218.0: [712, 737, 715, 789],
 219.0: [744, 891],
 220.0: [682],
 221.0: [1228, 1244, 1407, 1303],
 222.0: [1220, 1481, 1263, 1488, 1396],
 223.0: [955, 1315, 1132, 1429],
 224.0: [1282, 1603, 1221, 1381, 1136],
 225.0: [1163, 1136, 1396, 1147, 1148],
 226.0: [1221, 1192, 1326, 1136, 1267],
 227.0: [900, 1068, 1039, 985, 956],
 228.0: [1024, 748, 886],
 229.0: [875, 815, 724, 921, 955],
 230.0: [1444],
 231.0: [924],
 232.0: [1232, 1128, 1022],
 233.0: [1226, 1194],
 234.0: [1251, 995, 1167, 1140, 1242],
 235.0: [1443, 1193, 1396, 1401, 1402],
 236.0: [934, 1355, 1009, 1401, 1147],
 237.0: [1449, 1039, 1265, 1268, 1111],
 238.0: [1048, 1041, 938, 781],
 239.0: [1011, 1245, 1235],
 240.0: [961, 750, 660, 729, 1086],
 241.0: [762, 699, 942, 934],
 242.0: [1152, 1485],
 243.0: [1506, 1285, 1223, 1332, 1148],
 244.0: [1209, 1140, 1095],
 245.0: [1048, 866, 747, 1028],
 246.0: [1232, 1378, 884, 1022],
 247.0: [568, 748, 751],
 248.0: [928],
 249.0: [856, 1074, 1012, 1103],
 250.0: [1161, 1231],
 251.0: [1040, 1041, 1028, 869],
 252.0: [741, 678, 581, 742],
 253.0: [187, 628, 806],
 254.0: [1444],
 255.0: [1034, 829, 890],
 256.0: [1216, 1096, 872, 918, 889],
 257.0: [544, 1462],
 258.0: [997, 1094, 871, 845, 722],
 259.0: [952, 1098, 1059, 959],
 260.0: [1016, 1013, 566],
 261.0: [1061, 1074, 1044, 1012, 1465],
 262.0: [1278, 1135],
 263.0: [1200, 1473],
 264.0: [1030, 1140, 1047, 1114, 1437],
 265.0: [933, 934, 880, 1145, 985],
 266.0: [640, 762, 942, 863],
 267.0: [1217, 1090, 1046],
 268.0: [800, 895],
 269.0: [1480, 862],
 270.0: [1217, 1253, 1073, 1077, 1471],
 271.0: [1347, 1149, 1401, 1021, 1214],
 272.0: [841, 1393, 1595, 1019],
 273.0: [902],
 274.0: [845, 1007, 721, 1014, 763],
 275.0: [1091],
 276.0: [806, 1478],
 277.0: [1061, 941, 1074, 1044, 1311],
 278.0: [513, 603, 479],
 279.0: [1185, 1529, 1501],
 280.0: [1446, 1479, 1550, 1404, 1182],
 281.0: [473, 588, 596],
 282.0: [879],
 283.0: [1048, 1521, 1502, 1041],
 284.0: [736, 740, 903, 846, 724],
 285.0: [902],
 286.0: [1288, 1283, 1428, 1499],
 287.0: [1016, 1105, 930],
 288.0: [865, 934, 1195, 1039, 1117],
 289.0: [1016, 827, 1013],
 290.0: [892],
 291.0: [1194, 1226, 1439],
 292.0: [1050, 1299],
 293.0: [1221, 1192, 1264, 1136, 1267],
 294.0: [1280, 1081, 1011, 1245],
 295.0: [1279, 1060, 1469, 1383],
 296.0: [813, 1331, 954, 1084, 1022],
 297.0: [1061, 1425, 1074, 1044, 1311],
 298.0: [1381, 1285, 1265, 1112, 1117],
 299.0: [1218, 1507, 1225, 1098, 1291],
 300.0: [1048, 938, 796, 781],
 301.0: [977, 1244, 1228, 1303],
 302.0: [879],
 303.0: [1273, 1229],
 304.0: [864, 801, 908, 1014, 926],
 305.0: [1456, 1172, 1542],
 306.0: [962, 1193, 729, 1113, 985],
 307.0: [1411],
 308.0: [1221, 1445, 1449, 1169, 1147],
 309.0: [841, 1595, 1393],
 310.0: [813, 1142],
 311.0: [1218, 1254, 1361, 1435, 1437],
 312.0: [1050],
 313.0: [1210, 931, 1274, 925],
 314.0: [1056, 1157, 774],
 315.0: [792, 763, 952],
 316.0: [954, 1084, 1142],
 317.0: [672, 563, 413, 567],
 318.0: [1028, 1190, 1487, 1048, 988],
 319.0: [1039, 693, 729, 699, 735],
 320.0: [1210, 931],
 321.0: [1194, 628, 1191],
 322.0: [748, 751],
 323.0: [1050, 1299],
 324.0: [1095, 1051, 1014, 1007],
 325.0: [1411, 919],
 326.0: [808, 1161, 1231],
 327.0: [1232, 1084, 1141, 1184],
 328.0: [1011, 1277, 1478],
 329.0: [924],
 330.0: [904, 953, 1044, 1061],
 331.0: [936, 1115],
 332.0: [977, 1244, 1228, 1303],
 333.0: [929, 932, 996],
 334.0: [1481, 1263, 1488, 1396, 1591],
 335.0: [741, 678, 742, 717, 696],
 336.0: [1140, 1209, 1051, 1437, 1182],
 337.0: [1133, 951],
 338.0: [945],
 339.0: [1504, 1225, 1322, 1404, 1437],
 340.0: [1133, 951],
 341.0: [1225, 1291, 1428, 1620, 1047],
 342.0: [1466, 1516, 1221, 1599],
 343.0: [903, 1160, 1137, 1211, 1085],
 344.0: [1057, 1479, 1230, 1271, 1023],
 345.0: [1137, 955, 1085, 1297],
 346.0: [1088, 1027, 1228, 1358, 977],
 347.0: [1209, 1291, 1230, 1270, 1337],
 348.0: [1225, 1014, 1054, 1051, 926],
 349.0: [942, 1039, 1075, 1238, 985],
 350.0: [657],
 351.0: [1221, 1008, 1107, 1045, 1147],
 352.0: [792, 722, 746, 710],
 353.0: [316, 382],
 354.0: [1074, 1044, 1012, 1197],
 355.0: [896, 900, 942, 750, 915],
 356.0: [937, 1009, 729, 1082, 735],
 357.0: [1218, 1225, 1098, 1014, 1047],
 358.0: [1176, 1529, 1185, 1501],
 359.0: [831],
 360.0: [963, 974, 742],
 361.0: [1300, 949, 990, 1119],
 362.0: [336, 11, 156, 12],
 363.0: [1220, 1607, 1467, 1468, 1375],
 364.0: [1048, 1155, 948, 709],
 365.0: [1048, 1041, 866, 1258],
 366.0: [800, 834, 895],
 367.0: [1044, 1012, 941],
 368.0: [859, 564, 637, 854],
 369.0: [1048, 1040, 988, 1028],
 370.0: [705, 602, 485],
 371.0: [970, 746, 710, 663],
 372.0: [754, 1083],
 373.0: [1094, 1446, 1098, 1070, 1182],
 374.0: [1228, 1244, 1413, 1407],
 375.0: [943, 1090, 1046, 983],
 376.0: [753, 697, 699, 707],
 377.0: [1016, 1013],
 378.0: [806, 1478],
 379.0: [1219],
 380.0: [1506, 1514, 1263, 1396, 1401],
 381.0: [1506, 1514, 1326, 1616, 1401],
 382.0: [1560, 1235, 1496, 1245, 1534],
 383.0: [745, 746, 428, 663],
 384.0: [568, 748, 751],
 385.0: [1506, 1252, 1449, 1396, 1524],
 386.0: [323, 597, 550, 743],
 387.0: [1267, 1445, 1375, 1335],
 388.0: [672, 681, 774],
 389.0: [1281, 1442, 1168, 1335, 1401],
 390.0: [736, 714, 716, 846, 949],
 391.0: [1101],
 392.0: [1160, 875, 724, 704],
 393.0: [1555, 1531, 1540, 1469],
 394.0: [931, 925],
 395.0: [1058, 924],
 396.0: [1025, 1556, 917],
 397.0: [1298, 630, 1286],
 398.0: [1450, 947, 1116, 1126],
 399.0: [1440, 1541, 1512, 1192, 1418],
 400.0: [895],
 401.0: [866, 1028, 988, 749, 764],
 402.0: [781, 747, 869, 739],
 403.0: [258],
 404.0: [892],
 405.0: [806, 1478, 1439],
 406.0: [1220, 1518, 1134, 1268, 1113],
 407.0: [1048, 1041, 1028, 869],
 408.0: [568, 748, 751],
 409.0: [1061, 1074, 1044, 1626, 1403],
 410.0: [898, 934, 713, 750, 1008],
 411.0: [1409, 1066, 1412, 1470],
 412.0: [644, 645, 811, 813, 1022],
 413.0: [346, 628, 293, 911],
 414.0: [384, 412, 294, 335],
 415.0: [1512, 1427, 1524, 1558, 1405],
 416.0: [1442, 1539, 1495, 1401, 1530],
 417.0: [1094, 1446, 1098, 1070, 1182],
 418.0: [186, 362],
 419.0: [1451],
 420.0: [331],
 421.0: [898, 713, 980, 729, 956],
 422.0: [1008, 1220, 956, 1039],
 423.0: [1039, 1265, 1107, 1045, 1147],
 424.0: [1281, 1267, 1148, 1221],
 425.0: [1016, 1314, 1013],
 426.0: [1116, 519],
 427.0: [1048, 1028, 709],
 428.0: [905, 875, 846, 815, 955],
 429.0: [1426, 1074, 1333, 1311],
 430.0: [656],
 431.0: [568, 748, 751],
 432.0: [1007, 1067, 1070, 763],
 433.0: [370, 325],
 434.0: [1033, 1060, 1469, 812],
 435.0: [1217, 1090, 1046, 943],
 436.0: [1248, 1579, 1549, 1522, 1471],
 437.0: [1446, 1479, 1288, 1550, 1230],
 438.0: [1028, 764, 1190, 1258, 988],
 439.0: [268, 14, 306, 246, 125],
 440.0: [943, 1090, 1073, 975],
 442.0: [636],
 444.0: [921, 724, 740, 815],
 445.0: [1328, 1392, 1267, 1623, 1468],
 446.0: [329, 332],
 447.0: [1034, 829, 890],
 448.0: [1318, 1128, 1294, 1363, 1331],
 449.0: [1194, 1226],
 450.0: [836, 1269],
 451.0: [898, 933, 880, 883, 887],
 452.0: [979, 1324, 963, 742],
 453.0: [795, 932, 894],
 454.0: [1050],
 455.0: [755],
 456.0: [1077, 1038, 943],
 457.0: [778, 731, 692],
 458.0: [1101],
 459.0: [898, 933, 1039, 985, 1017],
 460.0: [10, 157, 190],
 462.0: [682]}

In [119]:
counter = 0
summator = 0

for i in range(len(recommendations)):
    if (i+1 != 441 and i+1 != 443):
        for movie_id in recommendations[i+1]:
            counter += 1
            summator += calculate_film_rating(i+1, movie_id)
        
summator/counter

3.4806014380355044