# 1.0-initial-data-exporation

In [1]:
# Import required libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

## Review and processing of source data

Firstly, load our dataset and look on it.

In [2]:
# Define the column names for your data
data_columns = ['user_id', 'item_id', 'rating', 'timestamp']
item_columns = ['movie_id', 'movie_title', 'release_date',
                'video_release_date', 'IMDB_URL', 'unknown',
                'Action', 'Adventure', 'Animation', 'Children',
                'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
                'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
                'Sci-Fi', 'Thriller', 'War', 'Western']
user_columns = ['user_id', 'age', 'gender', 'occupation', 'zip_code']

# Load the training and test sets
train_data = pd.read_csv('ml-100k/u1.base', sep='\t', names=data_columns)
test_data = pd.read_csv('ml-100k/u1.test', sep='\t', names=data_columns)

# Load the item and user information
item = pd.read_csv('ml-100k/u.item', sep='|', names=item_columns, encoding='latin-1')
user = pd.read_csv('ml-100k/u.user', sep='|', names=user_columns, encoding='latin-1')

# Merge the dataframes
train_data = pd.merge(train_data, item, how='left', left_on='item_id', right_on='movie_id')
train_data = pd.merge(train_data, user, how='left', on='user_id')

test_data = pd.merge(test_data, item, how='left', left_on='item_id', right_on='movie_id')
test_data = pd.merge(test_data, user, how='left', on='user_id')

# Save the merged data as CSV files
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)

In [3]:
item

,movie_id,movie_title,release_date,video_release_date,IMDB_URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
user

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [5]:
data = pd.concat([train_data, test_data])
data.reset_index(drop=True, inplace=True)
data

,user_id,item_id,rating,timestamp,movie_id,movie_title,release_date,video_release_date,IMDB_URL,unknown,...,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation,zip_code
0,1,1,5,874965758,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,...,0,0,0,0,0,0,24,M,technician,85711
1,1,2,3,876893171,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,...,0,0,0,1,0,0,24,M,technician,85711
2,1,3,4,878542960,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,...,0,0,0,1,0,0,24,M,technician,85711
3,1,4,3,876893119,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,...,0,0,0,0,0,0,24,M,technician,85711
4,1,5,3,889751712,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,...,0,0,0,1,0,0,24,M,technician,85711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,458,648,4,886395899,648,"Quiet Man, The (1952)",01-Jan-1952,NaN,"http://us.imdb.com/M/title-exact?Quiet%20Man,%...",0,...,0,1,0,0,0,0,47,M,technician,Y1A6B
99996,458,1101,4,886397931,1101,Six Degrees of Separation (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Six%20Degrees...,0,...,1,0,0,0,0,0,47,M,technician,Y1A6B
99997,459,934,3,879563639,934,"Preacher's Wife, The (1996)",13-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Preacher's%20...,0,...,0,0,0,0,0,0,22,M,student,29201
99998,460,10,3,882912371,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...,0,...,0,0,0,0,1,0,44,F,other,60630
99999,462,682,5,886365231,682,I Know What You Did Last Summer (1997),17-Oct-1997,NaN,http://us.imdb.com/M/title-exact?I+Know+What+Y...,0,...,1,0,0,1,0,0,19,F,student,02918

In [6]:
data.columns

Index(['user_id', 'item_id', 'rating', 'timestamp', 'movie_id', 'movie_title',
       'release_date', 'video_release_date', 'IMDB_URL', 'unknown', 'Action',
       'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'age', 'gender',
       'occupation', 'zip_code'],
      dtype='object')

In [7]:
data[["user_id", "item_id", "rating", "timestamp", "movie_id", "movie_title", "release_date", "video_release_date", "IMDB_URL"]]

,user_id,item_id,rating,timestamp,movie_id,movie_title,release_date,video_release_date,IMDB_URL
0,1,1,5,874965758,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,1,2,3,876893171,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,1,3,4,878542960,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,1,4,3,876893119,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,1,5,3,889751712,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)
...,...,...,...,...,...,...,...,...,...
99995,458,648,4,886395899,648,"Quiet Man, The (1952)",01-Jan-1952,NaN,"http://us.imdb.com/M/title-exact?Quiet%20Man,%..."
99996,458,1101,4,886397931,1101,Six Degrees of Separation (1993),01-Jan-1993,NaN,http://us.imdb.com/M/title-exact?Six%20Degrees...
99997,459,934,3,879563639,934,"Preacher's Wife, The (1996)",13-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Preacher's%20...
99998,460,10,3,882912371,10,Richard III (1995),22-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Richard%20III...
99999,462,682,5,886365231,682,I Know What You Did Last Summer (1997),17-Oct-1997,NaN,http://us.imdb.com/M/title-exact?I+Know+What+Y...

In [8]:
num_unique_values = test_data.nunique()
num_unique_values

user_id                 459
item_id                1410
rating                    5
timestamp             13983
movie_id               1410
movie_title            1401
release_date            223
video_release_date        0
IMDB_URL               1400
unknown                   2
Action                    2
Adventure                 2
Animation                 2
Children                  2
Comedy                    2
Crime                     2
Documentary               2
Drama                     2
Fantasy                   2
Film-Noir                 2
Horror                    2
Musical                   2
Mystery                   2
Romance                   2
Sci-Fi                    2
Thriller                  2
War                       2
Western                   2
age                      56
gender                    2
occupation               21
zip_code                416
dtype: int64

Drop item_id, timestamp, movie_title, video_release_date, IMDB_URL, zip_code columns because its useless for our analysis.

In [9]:
# Drop useless columns
data.drop(data.columns[[1, 3, 5, 7, 8, 31]], axis=1, inplace=True)
data

,user_id,rating,movie_id,release_date,unknown,Action,Adventure,Animation,Children,Comedy,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,age,gender,occupation
0,1,5,1,01-Jan-1995,0,0,0,1,1,1,...,0,0,0,0,0,0,0,24,M,technician
1,1,3,2,01-Jan-1995,0,1,1,0,0,0,...,0,0,0,0,1,0,0,24,M,technician
2,1,4,3,01-Jan-1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,24,M,technician
3,1,3,4,01-Jan-1995,0,1,0,0,0,1,...,0,0,0,0,0,0,0,24,M,technician
4,1,3,5,01-Jan-1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,24,M,technician
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,458,4,648,01-Jan-1952,0,0,0,0,0,1,...,0,0,1,0,0,0,0,47,M,technician
99996,458,4,1101,01-Jan-1993,0,0,0,0,0,0,...,0,1,0,0,0,0,0,47,M,technician
99997,459,3,934,13-Dec-1996,0,0,0,0,0,0,...,0,0,0,0,0,0,0,22,M,student
99998,460,3,10,22-Jan-1996,0,0,0,0,0,0,...,0,0,0,0,0,1,0,44,F,other
99999,462,5,682,17-Oct-1997,0,0,0,0,0,0,...,0,1,0,0,1,0,0,19,F,student

Now we need to encode textual values. Make ordinal encoding for occupation column, one-hot encoding for gender column and replace release_year on release_date column.

In [10]:
# Use One-Hot encoder to encode categorial values with a low level of uniqueness
ohe_encoder = OneHotEncoder(handle_unknown="ignore", sparse=False)
feature = ['gender']
ohe_encoder.fit(data[feature])

new_feat = ohe_encoder.transform(data[feature])
new_cols = pd.DataFrame(new_feat, dtype=int, columns=ohe_encoder.get_feature_names(feature))
data = pd.concat([data, new_cols], axis=1)    
data.drop(feature, axis=1, inplace=True)

# Fit and transform the 'occupation' column
encoder = OrdinalEncoder()
data['occupation'] = encoder.fit_transform(data[['occupation']])

# Convert the 'release_date' column to datetime
data['release_date'] = pd.to_datetime(data['release_date'])

# Extract the year and create a new 'release_year' column, drop ald column
data['release_date'].fillna('01-Jan-1980', inplace=True)
data['release_year'] = data['release_date'].dt.year.astype(int)
data.drop(data.columns[[3]], axis=1, inplace=True)
data

C:\Users\markz\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,user_id,rating,movie_id,unknown,Action,Adventure,Animation,Children,Comedy,Crime,...,Romance,Sci-Fi,Thriller,War,Western,age,occupation,gender_F,gender_M,release_year
0,1,5,1,0,0,0,1,1,1,0,...,0,0,0,0,0,24,19.0,0,1,1995
1,1,3,2,0,1,1,0,0,0,0,...,0,0,1,0,0,24,19.0,0,1,1995
2,1,4,3,0,0,0,0,0,0,0,...,0,0,1,0,0,24,19.0,0,1,1995
3,1,3,4,0,1,0,0,0,1,0,...,0,0,0,0,0,24,19.0,0,1,1995
4,1,3,5,0,0,0,0,0,0,1,...,0,0,1,0,0,24,19.0,0,1,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,458,4,648,0,0,0,0,0,1,0,...,1,0,0,0,0,47,19.0,0,1,1952
99996,458,4,1101,0,0,0,0,0,0,0,...,0,0,0,0,0,47,19.0,0,1,1993
99997,459,3,934,0,0,0,0,0,0,0,...,0,0,0,0,0,22,18.0,0,1,1996
99998,460,3,10,0,0,0,0,0,0,0,...,0,0,0,1,0,44,13.0,1,0,1996
99999,462,5,682,0,0,0,0,0,0,0,...,0,0,1,0,0,19,18.0,1,0,1997

In [11]:
data.isnull().sum()

user_id         0
rating          0
movie_id        0
unknown         0
Action          0
Adventure       0
Animation       0
Children        0
Comedy          0
Crime           0
Documentary     0
Drama           0
Fantasy         0
Film-Noir       0
Horror          0
Musical         0
Mystery         0
Romance         0
Sci-Fi          0
Thriller        0
War             0
Western         0
age             0
occupation      0
gender_F        0
gender_M        0
release_year    0
dtype: int64

In [12]:
train_data = data[:80000]
test_data = data[80000:]
test_data.reset_index(drop=True, inplace=True)

We see that toxic sentences located randomly, so we will make a test(little)/final(big) datasets with all toxic sentences in reference column.

In [13]:
test_data

,user_id,rating,movie_id,unknown,Action,Adventure,Animation,Children,Comedy,Crime,...,Romance,Sci-Fi,Thriller,War,Western,age,occupation,gender_F,gender_M,release_year
0,1,5,6,0,0,0,0,0,0,0,...,0,0,0,0,0,24,19.0,0,1,1995
1,1,3,10,0,0,0,0,0,0,0,...,0,0,0,1,0,24,19.0,0,1,1996
2,1,5,12,0,0,0,0,0,0,1,...,0,0,1,0,0,24,19.0,0,1,1995
3,1,5,14,0,0,0,0,0,0,0,...,1,0,0,0,0,24,19.0,0,1,1994
4,1,3,17,0,1,0,0,0,1,1,...,0,0,1,0,0,24,19.0,0,1,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,458,4,648,0,0,0,0,0,1,0,...,1,0,0,0,0,47,19.0,0,1,1952
19996,458,4,1101,0,0,0,0,0,0,0,...,0,0,0,0,0,47,19.0,0,1,1993
19997,459,3,934,0,0,0,0,0,0,0,...,0,0,0,0,0,22,18.0,0,1,1996
19998,460,3,10,0,0,0,0,0,0,0,...,0,0,0,1,0,44,13.0,1,0,1996
19999,462,5,682,0,0,0,0,0,0,0,...,0,0,1,0,0,19,18.0,1,0,1997

In [14]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler

# Preprocess your data
scaler = StandardScaler()
train_scaled = scaler.fit_transform(train_data)
test_scaled = scaler.transform(test_data)

# Fit the KNN model
knn = NearestNeighbors(n_neighbors=5, metric='cosine')
knn.fit(train_scaled)

# Make recommendations for a user in the test set
test_user = test_scaled[0]
distances, indices = knn.kneighbors(np.array([test_user]))

# Print out the recommended movie ids
recommended_movie_ids = train_data.iloc[indices[0]]['movie_id']
print(recommended_movie_ids)

7      9
13    19
10    15
36    57
38    59
Name: movie_id, dtype: int64

In [15]:
recommended_movie_ids

7      9
13    19
10    15
36    57
38    59
Name: movie_id, dtype: int64

In [16]:
# Assuming 'knn' is your trained model and 'test_scaled' is your preprocessed test set
recommendations = {}
for i in range(test_scaled.shape[0]):
    distances, indices = knn.kneighbors(np.array([test_scaled[i]]))
    recommended_movie_ids = train_data.iloc[indices[0]]['movie_id'].tolist()
    user_id = test_data.iloc[i]['user_id']
    recommendations[user_id] = recommended_movie_ids

KeyboardInterrupt:

In [19]:
item1 = item.copy()

# Calculate average ratings for 'gender_F'
female_avg_ratings = data[data['gender_F'] == 1].groupby('movie_id')['rating'].mean()
female_avg_ratings.name = 'Female_avg_rating'
item1 = item1.merge(female_avg_ratings, left_on='movie_id', right_index=True, how='left')

# Calculate average ratings for 'gender_M'
male_avg_ratings = data[data['gender_M'] == 1].groupby('movie_id')['rating'].mean()
male_avg_ratings.name = 'Male_avg_rating'
item1 = item1.merge(male_avg_ratings, left_on='movie_id', right_index=True, how='left')

bins = [7, 10, 14, 18, 25, 35, 45, 55, 65, np.inf]
labels = ['7-10', '11-14', '15-18', '19-25', '26-35', '36-45', '46-55', '56-65', '65+']
data['age_group'] = pd.cut(data['age'], bins=bins, labels=labels)

# Calculate average ratings for each age group and merge with 'item1'
for label in labels:
    age_avg_ratings = data[data['age_group'] == label].groupby('movie_id')['rating'].mean()
    age_avg_ratings.name = f'{label}_avg_rating'
    item1 = item1.merge(age_avg_ratings, left_on='movie_id', right_index=True, how='left')
    
# Get the unique occupation types
occupation_types = data['occupation'].unique()

# Calculate average ratings for each occupation type and merge with 'item1'
for occupation in occupation_types:
    occupation_avg_ratings = data[data['occupation'] == occupation].groupby('movie_id')['rating'].mean()
    occupation_avg_ratings.name = f'{occupation}_avg_rating'
    item1 = item1.merge(occupation_avg_ratings, left_on='movie_id', right_index=True, how='left')

# Fill null values with 3
item1 = item1.fillna(3)

item1

,movie_id,movie_title,release_date,video_release_date,IMDB_URL,unknown,Action,Adventure,Animation,Children,...,10.0_avg_rating,8.0_avg_rating,1.0_avg_rating,4.0_avg_rating,11.0_avg_rating,12.0_avg_rating,7.0_avg_rating,15.0_avg_rating,16.0_avg_rating,2.0_avg_rating
0,1,Toy Story (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,3.647059,4.0,4.083333,4.043478,3.8,4.166667,3.000000,3.666667,4.00,3.5
1,2,GoldenEye (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,3.000000,3.0,3.000000,3.125000,3.0,4.500000,2.666667,2.000000,3.00,3.0
2,3,Four Rooms (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,2.333333,3.0,3.000000,3.363636,2.0,3.000000,2.000000,3.000000,1.00,3.0
3,4,Get Shorty (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,3.500000,3.0,4.666667,3.739130,3.5,3.500000,3.000000,3.600000,3.75,3.0
4,5,Copycat (1995),01-Jan-1995,3.0,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,3.333333,3.0,3.000000,3.000000,3.0,4.500000,3.000000,3.500000,4.00,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,3.0,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0
1678,1679,B. Monkey (1998),06-Feb-1998,3.0,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0
1679,1680,Sliding Doors (1998),01-Jan-1998,3.0,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0
1680,1681,You So Crazy (1994),01-Jan-1994,3.0,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,3.0,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,3.000000,3.0,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00,3.0

In [22]:
data

,user_id,rating,movie_id,unknown,Action,Adventure,Animation,Children,Comedy,Crime,...,Sci-Fi,Thriller,War,Western,age,occupation,gender_F,gender_M,release_year,age_group
0,1,5,1,0,0,0,1,1,1,0,...,0,0,0,0,24,19.0,0,1,1995,19-25
1,1,3,2,0,1,1,0,0,0,0,...,0,1,0,0,24,19.0,0,1,1995,19-25
2,1,4,3,0,0,0,0,0,0,0,...,0,1,0,0,24,19.0,0,1,1995,19-25
3,1,3,4,0,1,0,0,0,1,0,...,0,0,0,0,24,19.0,0,1,1995,19-25
4,1,3,5,0,0,0,0,0,0,1,...,0,1,0,0,24,19.0,0,1,1995,19-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,458,4,648,0,0,0,0,0,1,0,...,0,0,0,0,47,19.0,0,1,1952,46-55
99996,458,4,1101,0,0,0,0,0,0,0,...,0,0,0,0,47,19.0,0,1,1993,46-55
99997,459,3,934,0,0,0,0,0,0,0,...,0,0,0,0,22,18.0,0,1,1996,19-25
99998,460,3,10,0,0,0,0,0,0,0,...,0,0,1,0,44,13.0,1,0,1996,36-45
99999,462,5,682,0,0,0,0,0,0,0,...,0,1,0,0,19,18.0,1,0,1997,19-25

In [47]:
average_ratings

Empty DataFrame
Columns: [user_id, gender, age, occupation, 1922-1950_avg_rating, 1951-1970_avg_rating, 1971-1980_avg_rating, 1981-1990_avg_rating, 1991-1998_avg_rating, male_avg_rating, female_avg_rating]
Index: []

In [53]:
data1 = data.copy()
bins = [1922, 1950, 1970, 1980, 1990, np.inf]
labels = ['1922-1950', '1951-1970', '1971-1980', '1981-1990', '1991-1998']
data1['year_group'] = pd.cut(data1['release_year'], bins=bins, labels=labels)
data1['gender'] = np.where(data1['gender_F']==1, 'female', 'male')

genre_cols = ['unknown','Action', 'Adventure', 'Animation', 'Children',
          'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
          'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
          'Sci-Fi', 'Thriller', 'War', 'Western']

# Initialize a DataFrame to store the average ratings
average_ratings = pd.DataFrame(columns=['user_id', 'gender', 'age', 'occupation'] + [f'{label}_avg_rating' for label in labels] + [f'{genre}_avg_rating' for genre in genre_cols])

# For each user
for user_id in data1['user_id'].unique():
    # Select the rows for this user
    user_rows = data1[data1['user_id'] == user_id]
    
    # Get the user's gender, age, and occupation
    gender = "male" if user_rows['gender_M'].iloc[0] == 1 else "female"
    age = user_rows['age'].iloc[0]
    occupation = user_rows['occupation'].iloc[0]
    
    # Calculate the average rating for each release period
    period_avg_ratings = [user_rows[user_rows['year_group'] == label]['rating'].mean() for label in labels]
    
    # Calculate the average rating for each genre
    genre_avg_ratings = [(user_rows[user_rows[genre] == 1]['rating'].mean()) for genre in genre_cols]
    
    # Append the average ratings to the DataFrame
    average_ratings = average_ratings.append(pd.Series([user_id, gender, age, occupation] + period_avg_ratings + genre_avg_ratings, index=average_ratings.columns), ignore_index=True)

# Fill null values with 3
average_ratings = average_ratings.fillna(3)

average_ratings

C:\Users\markz\AppData\Local\Temp\ipykernel_21048\1841447661.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  average_ratings = average_ratings.append(pd.Series([user_id, gender, age, occupation] + period_avg_ratings + genre_avg_ratings, index=average_ratings.columns), ignore_index=True)

,user_id,gender,age,occupation,1922-1950_avg_rating,1951-1970_avg_rating,1971-1980_avg_rating,1981-1990_avg_rating,1991-1998_avg_rating,unknown_avg_rating,...,Fantasy_avg_rating,Film-Noir_avg_rating,Horror_avg_rating,Musical_avg_rating,Mystery_avg_rating,Romance_avg_rating,Sci-Fi_avg_rating,Thriller_avg_rating,War_avg_rating,Western_avg_rating
0,1,male,24,19.0,3.600000,3.133333,4.050000,3.934783,3.521505,4.0,...,3.5,5.0,3.461538,2.923077,3.600000,3.931818,4.000000,3.615385,3.680000,3.666667
1,2,female,53,13.0,3.000000,3.000000,5.000000,3.000000,3.666667,3.0,...,3.0,4.5,3.000000,3.000000,3.500000,4.125000,3.750000,3.583333,3.666667,3.000000
2,3,male,23,20.0,3.000000,3.000000,3.000000,3.000000,2.796296,3.0,...,3.0,2.5,2.400000,2.000000,3.181818,3.400000,2.750000,2.523810,2.800000,3.000000
3,4,male,24,19.0,3.000000,3.000000,4.500000,3.000000,4.380952,3.0,...,3.0,3.0,4.000000,5.000000,4.000000,4.333333,3.833333,3.909091,4.500000,3.000000
4,5,female,33,13.0,3.333333,3.187500,3.000000,3.062500,2.707071,4.0,...,2.5,5.0,2.535714,3.333333,3.000000,2.315789,3.515152,2.947368,3.214286,2.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,939,female,26,18.0,3.000000,3.000000,5.000000,3.000000,4.250000,3.0,...,4.0,3.0,3.000000,4.000000,4.000000,4.800000,4.125000,4.083333,5.000000,3.000000
939,940,male,32,0.0,4.000000,3.571429,3.666667,3.538462,3.375000,3.0,...,3.0,4.0,3.000000,3.142857,4.333333,3.541667,3.052632,3.350000,3.266667,3.000000
940,941,male,20,18.0,3.000000,3.000000,3.000000,3.000000,4.045455,3.0,...,3.0,3.0,3.000000,4.000000,5.000000,5.000000,3.875000,4.000000,5.000000,3.000000
941,942,female,48,10.0,4.600000,4.466667,4.125000,4.700000,4.000000,3.0,...,4.0,5.0,3.666667,4.400000,4.000000,4.411765,4.166667,4.000000,4.700000,4.666667
942,943,male,22,18.0,2.500000,3.300000,3.583333,3.633333,3.359649,3.0,...,2.5,3.0,3.642857,3.750000,3.666667,3.181818,3.000000,3.828571,3.533333,2.555556

In [93]:
data1

,user_id,rating,movie_id,unknown,Action,Adventure,Animation,Children,Comedy,Crime,...,War,Western,age,occupation,gender_F,gender_M,release_year,age_group,year_group,gender
0,1,5,1,0,0,0,1,1,1,0,...,0,0,24,19.0,0,1,1995,19-25,1991-1998,male
1,1,3,2,0,1,1,0,0,0,0,...,0,0,24,19.0,0,1,1995,19-25,1991-1998,male
2,1,4,3,0,0,0,0,0,0,0,...,0,0,24,19.0,0,1,1995,19-25,1991-1998,male
3,1,3,4,0,1,0,0,0,1,0,...,0,0,24,19.0,0,1,1995,19-25,1991-1998,male
4,1,3,5,0,0,0,0,0,0,1,...,0,0,24,19.0,0,1,1995,19-25,1991-1998,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,458,4,648,0,0,0,0,0,1,0,...,0,0,47,19.0,0,1,1952,46-55,1951-1970,male
99996,458,4,1101,0,0,0,0,0,0,0,...,0,0,47,19.0,0,1,1993,46-55,1991-1998,male
99997,459,3,934,0,0,0,0,0,0,0,...,0,0,22,18.0,0,1,1996,19-25,1991-1998,male
99998,460,3,10,0,0,0,0,0,0,0,...,1,0,44,13.0,1,0,1996,36-45,1991-1998,female
99999,462,5,682,0,0,0,0,0,0,0,...,0,0,19,18.0,1,0,1997,19-25,1991-1998,female

In [89]:
recommendations = {}
for i in range(test_scaled.shape[0]):
    distances, indices = knn.kneighbors(np.array([test_scaled[i]]))
    recommended_movie_ids = train_data.iloc[indices[0]]['movie_id'].tolist()
    user_id = test_data.iloc[i]['user_id']
    recommendations[user_id] = list(set(recommended_movie_ids))

In [88]:
def calculate_film_rating(user_id, movie_id):
    # Get the user and movie data
    user_ratings = average_ratings[average_ratings['user_id'] == user_id]
    movie = item1[item1['movie_id'] == movie_id]

    # Calculate the genre part of the formula
    genre_cols = ['unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
    genre_ratings = [movie[genre].values[0] * user_ratings[f'{genre}_avg_rating'].values[0] for genre in genre_cols if movie[genre].values[0] == 1]
    genre_part = sum(genre_ratings) / len(genre_ratings) if genre_ratings else 0

    # Calculate gender rating
    gender_part = movie['Female_avg_rating'].values[0] if user_ratings['gender'].values[0] == "female" else movie['Male_avg_rating'].values[0]
    
    # Calculate age rating
    age = user_ratings["age"].values[0]
    if (age >= 7 and age <= 10):
        age_part = movie['7-10_avg_rating'].values[0]
    elif (age >= 11 and age <= 14):
        age_part = movie['11-14_avg_rating'].values[0]
    elif (age >= 15 and age <= 18):
        age_part = movie['15-18_avg_rating'].values[0]
    elif (age >= 19 and age <= 25):
        age_part = movie['19-25_avg_rating'].values[0]
    elif (age >= 26 and age <= 35):
        age_part = movie['26-35_avg_rating'].values[0]
    elif (age >= 36 and age <= 45):
        age_part = movie['36-45_avg_rating'].values[0]
    elif (age >= 46 and age <= 55):
        age_part = movie['46-55_avg_rating'].values[0]
    elif (age >= 56 and age <= 65):
        age_part = movie['56-65_avg_rating'].values[0]
    else:
        age_part = movie['65+_avg_rating'].values[0]
    
    # Calculate occupation rating
    occupation_part = movie[str(user_ratings["occupation"].values[0]) + "_avg_rating"].values[0]
    
    # Calculate release year rating
    try:
        year = int((movie["release_date"].values[0])[-4:])
    except:
        year = 1980
    if (year >= 1922 and year <= 1950):
        year_part = average_ratings['1922-1950_avg_rating'].values[0]
    elif (year >= 1951 and year <= 1970):
        year_part = average_ratings['1951-1970_avg_rating'].values[0]
    elif (year >= 1971 and year <= 1980):
        year_part = average_ratings['1971-1980_avg_rating'].values[0]
    elif (year >= 1981 and year <= 1990):
        year_part = average_ratings['1981-1990_avg_rating'].values[0]
    elif (year >= 1991 and year <= 1998):
        year_part = average_ratings['1991-1998_avg_rating'].values[0]

    # Calculate the final film rating
    film_rating = 0.6 * genre_part + 0.1 * gender_part + 0.1 * age_part + 0.1 * occupation_part + 0.1 * year_part

    return film_rating

In [90]:
best_ratings = []
worst_ratings = []
for index in recommendations:
    ratings = []
    for i in range(1, 1682):
        ratings.append(calculate_film_rating(index, i))
    ratings.sort()
    best_ratings.append(np.mean(ratings[:5]))
    worst_ratings.append(np.mean(ratings[-5:]))
    print(index, np.mean(ratings[:5]), np.mean(ratings[-5:]))
print(np.mean(best_ratings))
print(np.mean(worst_ratings))

1.0 2.445961060444932 4.514129391847691
2.0 2.4886816269284715 4.175646498978567
3.0 2.1083410138248846 4.588772415756287
4.0 2.7768870967741934 4.664089779932228
5.0 2.218719220913434 4.238324056910939
6.0 2.684067792936376 4.306321654325752
7.0 2.945262248934528 4.326580032910405
8.0 1.9927562301874695 4.463817287665161
9.0 2.6196505376344086 4.606536021291029
10.0 3.1115533110510127 4.457312611667605
11.0 2.5788025880929104 3.928297020765867
12.0 1.3172530554998996 4.490178703961556
13.0 1.6856743471582185 4.007877934667881
14.0 3.077652641421225 4.411942852913575
15.0 1.2571505376344085 3.698415814632166
16.0 2.772150537634408 4.519482434680937
17.0 2.1703172043010754 3.9434082169061546
18.0 2.61741608228144 4.2314988008065875
19.0 2.697452124935996 4.540381431126329
20.0 1.893720430107527 3.8074711719920744
21.0 2.2979166158185196 3.6206453868674315
22.0 1.686152641421225 4.41046468615823
23.0 2.3054160822814405 4.109115043432936
24.0 2.671985974754558 4.57173329543344
25.0 2.7821505376344087 4.19394512488308
26.0 2.3094687194525907 4.226400332225913
27.0 2.2263870967741934 4.681106861984554
28.0 2.472764567129925 4.058204123028103
29.0 2.364599339377328 4.511476981714637
30.0 2.493728143035544 4.456101253035728
31.0 2.068341013824885 4.408483870967743
32.0 2.455721966205837 3.927493249726968
33.0 2.534650537634408 4.077720430107528
34.0 2.0043379416282643 4.63195829750329
35.0 2.260935344225667 3.589594020098147
36.0 2.531179211469534 4.611987990504121
37.0 2.4012494156147732 4.3491644523696245
38.0 1.9773922727576303 4.51151904483878
39.0 2.75783551931939 4.356620533010182
40.0 1.5350076804915518 3.5870457479191744
41.0 2.551884336249694 4.093359410835015
42.0 2.3302457757296464 4.627643682700724
43.0 2.135110198357043 4.648090879029407
44.0 2.663720430107527 4.331251686673412
45.0 2.6261187916026625 4.118797090041262
46.0 2.3654160822814396 4.381908052798826
47.0 2.264594982078853 4.36642893314467
48.0 2.2660899315738026 4.52102414736582
49.0 1.8432509237347947 4.0797436112274825
50.0 2.3076505376344083 4.588772415756287
51.0 2.4675660787117963 4.350571991612634
52.0 2.717623655913979 4.384912665884161
53.0 2.6101187916026625 4.311837131050215
54.0 1.485483870967742 4.309058207749608
55.0 2.0441651476879934 4.286252604642255
56.0 2.791446833930704 4.09094405887763
57.0 2.869140719962599 4.2326114403082205
58.0 2.6327854582693293 4.574388977149889
59.0 2.7078963274756065 4.389150537634409
60.0 2.7869232649071356 4.325672385041549
61.0 2.1589258091465227 3.7437296514797618
62.0 2.205721966205837 3.8996617237415
63.0 2.3359586184424894 4.587896762953805
64.0 2.706758891645989 3.932683975355765
65.0 2.84153652206155 4.34505215209398
66.0 2.001741433311114 3.959107591525709
67.0 2.822174347158218 4.4960030528193204
68.0 1.79791608228144 3.9179964112209804
69.0 2.8126669783387874 4.324753685694079
70.0 2.72807057016355 3.994984491649073
71.0 1.8978172043010755 4.170958071311988
72.0 2.636370533627196 4.239301119138093
73.0 2.0443475073313784 4.5622898965622865
74.0 2.781657031140902 4.009283563258096
75.0 2.3403870967741933 3.9951604374345324
76.0 2.4361952597224636 4.109236582024801
77.0 2.3885268817204297 4.408715557974913
78.0 1.5835614763688768 4.346055228642325
79.0 2.72457910906298 4.6118937157590745
80.0 2.011680727874276 4.0718277109908945
81.0 2.341249415614773 3.9856826525188263
82.0 1.6349470744309458 4.101114978618427
83.0 2.3327176695830274 3.989671489454623
84.0 2.494954228722812 4.246000305964616
85.0 2.7497016203926252 3.9808823093650334
86.0 2.304150537634409 4.439873063775888
87.0 2.606828780694138 4.240947652554253
88.0 2.5420149602618047 4.287072292360453
89.0 2.725387096774193 4.6118937157590745
90.0 3.162254434498021 4.605761521022137
91.0 2.440105571847507 4.2300380267908455
92.0 2.5334655559494275 3.9370378262764185
93.0 2.591912442396313 3.8355234648831322
94.0 2.688234804776313 4.48013855624823
95.0 2.437892834553176 3.929102204794912
96.0 2.7306236559139783 4.6621505376344095
97.0 2.9891749755620727 4.641922706325932
98.0 2.584749415614773 4.423756573597181
99.0 2.444606558471916 4.087025571837694
100.0 2.068023553507424 3.9204681552210916
101.0 2.2996410138248846 3.897918430183787
102.0 2.255290783774478 3.474567954139027
103.0 2.5740510029163604 4.32777943458504
104.0 1.7369713261648747 3.831225082192353
105.0 2.341758380771663 4.229418555937686
106.0 2.7598272445958276 4.346548623259489
107.0 1.880876728110599 3.892595668149171
108.0 2.599452124935996 4.153772877659975
109.0 2.612720430107527 4.03877830211445
110.0 2.331956989247312 3.8618540350458863
111.0 2.087418524283882 4.356942364158101
112.0 2.6796435070306037 4.394082225049496
113.0 2.00357910906298 4.376715812980277
114.0 2.6727204301075265 4.178825532376081
115.0 2.244867310931356 4.390977276149348
116.0 2.371591097074968 3.900086855952213
117.0 2.6779398918052495 4.473069270736099
118.0 2.8742903225806455 4.670965372173059
119.0 2.6791886840757813 4.2672394361211055
120.0 2.4886816269284715 4.141909164464396
121.0 2.5199471715755024 4.183637248597863
122.0 2.4654160822814397 4.1668171795565145
123.0 2.844265922249793 4.496735836269992
124.0 2.4321505376344086 4.383907369149637
125.0 1.552983870967742 4.251223926439732
126.0 2.7375665839536802 4.635725901494485
127.0 1.9321505376344092 4.594342915682873
128.0 2.6366236559139784 4.04212389153293
129.0 1.893720430107527 3.7486685743567407
130.0 3.0723869409381335 4.368384071780625
131.0 2.724222533894343 4.638567722725617
132.0 2.499947171575503 4.499515810948404
133.0 2.006118791602663 3.9526181122893056
134.0 2.15689480970221 4.356034223317119
135.0 2.5754398918052495 4.10889753578343
136.0 2.499947171575503 4.5768122732810905
137.0 1.7668602150537638 4.602604719417657
138.0 2.886659824046921 4.467823932174022
139.0 2.642983870967742 4.273575949425689
140.0 2.4168172043010756 3.9976830751970622
141.0 1.6360899315738027 4.100282050358203
142.0 2.7613172043010747 4.381554244076252
143.0 2.7778475073313778 4.251754691530824
144.0 2.376118791602663 4.251221188939488
145.0 2.2120078577336644 4.212996964241863
146.0 2.3702260756229903 4.425530279542299
147.0 2.665483870967742 4.531429250319574
148.0 2.026118791602663 4.431265898573436
149.0 2.215720430107527 3.7904196051422128
150.0 2.6542225338943433 4.349323608692205
151.0 2.8478113391984357 4.315912990538739
152.0 2.16541608228144 4.498695403737414
153.0 1.873952678052818 3.788979194520114
154.0 2.629347507331378 4.222590901508793
155.0 2.099626728110599 3.5110229279973937
156.0 2.4683410138248845 4.077953418661428
157.0 2.6821621140274714 4.457492583214592
158.0 2.741674347158218 4.252366284253382
159.0 2.3830235535074245 4.030724302917377
160.0 2.1196130519784098 4.643370344661815
161.0 1.6526813294232645 3.4855760330332686
162.0 2.6683410138248846 4.063627930954064
163.0 2.5378965693804405 4.043412037196617
164.0 2.5064362519201233 4.3147426812677505
165.0 1.9009181860682567 4.498718231378573
166.0 1.6214407462218308 4.428970879493363
167.0 1.859452124935996 4.0979517901453395
168.0 1.8999471715755027 3.9694614927975023
169.0 2.8127204301075266 4.25046364519851
170.0 2.4571505376344085 4.159378657955628
171.0 1.8571505376344088 4.018824820935435
172.0 2.642264173998045 4.53701293648758
173.0 2.631590685456043 4.335080123787273
174.0 2.0139875108528686 4.430854900175979
175.0 2.715721966205837 4.162161941290281
176.0 2.342944188428059 4.082928799656008
177.0 2.1913172043010753 4.2246992520741085
178.0 2.72605376344086 4.134791331293693
179.0 1.8774838709677422 3.991111426208201
180.0 2.0343870967741937 4.267129949540215
181.0 1.389889006212273 2.76990609836591
182.0 2.735776206083606 4.409253108397257
183.0 2.393817204301075 4.364082225049496
184.0 2.7656743471582184 4.141022753958836
185.0 2.814387096774193 4.271315508300542
186.0 1.519221966205837 4.2042964155782006
187.0 2.472785458269329 4.3216243788237225
188.0 2.413952659859875 4.144523446105675
189.0 2.9731806637004077 4.312127824645713
190.0 2.548456731440603 4.000706934138781
191.0 2.6302457757296467 4.090690494525868
192.0 2.533863889641878 4.610146699650797
193.0 2.0915510029163604 4.009411927490606
194.0 2.373775760759398 3.6499762804838896
195.0 2.6203323558162266 4.0697778114331875
196.0 2.026816164800036 4.170298372134778

197.0 2.3137211084464653 4.248860928761424
198.0 2.2739875108528684 4.679743611227482
199.0 1.81391608228144 3.9515148176835586
200.0 2.2260899315738025 4.39041657416029
201.0 2.311809848513232 3.6914764891513934
202.0 2.058817204301075 4.030812790805711
203.0 2.6356236559139785 4.5076415639482335
204.0 2.3911505376344087 4.6380789210239755
205.0 2.5199297584136295 3.7856985438293456
206.0 1.6045747800586512 3.553773154827168
207.0 2.607160107758957 3.7787308992463955
208.0 1.8825518250310878 4.201896543936212
209.0 1.8654160822814405 4.402747345704387
210.0 2.8593870967741934 4.363387745155
211.0 1.657048161199964 4.000235348666723
212.0 2.21273783922171 4.403987188580011
213.0 2.8729569892473115 4.590030535990804
214.0 2.836555867227676 4.3480908790294075
215.0 2.7127204301075265 4.256769983814215
216.0 2.728958618442489 4.2802586681451595
217.0 1.9008151339077006 3.6322822293419876
218.0 2.7011455426294138 4.079902699946283
219.0 2.6521505376344083 4.503809646733471
220.0 2.6421505376344085 4.318795110357845
221.0 2.3557884227069716 4.258209755012775
222.0 2.2653080793969753 4.643370344661815
223.0 2.2916096306685367 4.049754418933228
224.0 2.3869694409533118 3.7682638342073616
225.0 2.6131505376344086 4.729183217372971
226.0 2.5740510029163604 4.35746884587394
227.0 1.9675791090629804 4.01877028991107
228.0 1.7834582126615786 4.333981545404155
229.0 1.8851871479774704 4.2098622577393225
230.0 2.7070552995391703 4.138771444422875
231.0 2.2995214649527047 4.230754581991878
232.0 2.7350076804915515 4.4410643046856615
233.0 3.0825176377491372 4.56355089191625
234.0 2.563143291176925 3.823271759195915
235.0 2.991846026680467 4.5019721993138715
236.0 2.5878648233486943 4.045662039435468
237.0 2.8666598240469208 4.4518172966818135
238.0 2.47594540942928 4.000871681740704
239.0 2.3668602150537636 4.509749977597589
240.0 2.3171228577452485 4.4655675043184555
241.0 2.5341981566820273 4.139635807076564
242.0 2.472785458269329 4.590149130615672
243.0 2.7523072648414204 4.378416001643816
244.0 2.1529838709677422 4.126515388766057
245.0 2.3393172043010755 3.8952782902653738
246.0 1.612150537634409 3.776067544388887
247.0 2.6261187916026625 4.266015794853944
248.0 2.6598886328725038 4.4017414333111144
249.0 2.903152641421225 4.6576423791262505
250.0 2.6607290202102343 4.5782017912588335
251.0 2.714290322580645 4.2486786558908305
252.0 2.6394521249359957 4.590948022051356
253.0 2.7221505376344086 4.372050381128167
254.0 1.6188172043010751 3.8502863413667057
255.0 1.6586669783387875 3.660083315897321
256.0 2.7421505376344086 4.359768109965187
257.0 2.2974232649071356 4.345777531437263
258.0 1.4103193080878917 4.446176505541132
259.0 2.662983870967742 4.406516368424202
260.0 1.6783525902179477 4.59184426814645
261.0 2.5391965772455203 4.384769772194131
262.0 2.472639622026719 3.7832598409151244
263.0 2.826089931573802 4.300333610951708
264.0 2.286147465437788 4.522575871459753
265.0 2.520220430107527 4.245888118416595
266.0 2.3504045058883767 4.315189753320683
267.0 2.6892494156147735 4.403276002791907
268.0 2.3172299027137733 3.9662449432288143
269.0 2.113915243516762 4.498090879029407
270.0 2.84705376344086 4.534906524303784
271.0 2.739778616452143 4.075999870353671
272.0 2.9175268817204296 4.586407096987321
273.0 1.8886816269284714 4.01933733923677
274.0 2.638193548387097 4.370066395735813
275.0 2.5250135856974567 3.690773097069454
276.0 2.735860870862102 4.110129919842598
277.0 2.2639875108528686 3.995737613921064
278.0 2.758196620583717 4.536178040116517
279.0 1.9921505376344086 3.826607160011316
280.0 2.6603697157166004 4.075661936099404
281.0 2.03041608228144 4.050072431446812
282.0 2.589513174997046 4.326843908990081
283.0 2.7167204301075265 4.540008960453585
284.0 2.545466554950426 4.032956552882175
285.0 2.7643870967741933 4.551472069044496
286.0 2.8707461904039753 4.150172820869545
287.0 2.7877204301075267 4.404554950862977
288.0 2.0901398951627406 4.1686503520722
289.0 1.91170442065659 3.782339475327273
290.0 2.567551097858498 3.8906375188620244
291.0 2.8483968810525613 4.6576423791262505
292.0 2.977831541218638 4.410209225899549
293.0 2.478830009576947 4.588772415756287
294.0 2.725993157380254 4.164276833077732
295.0 2.7493870967741936 4.679838154895196
296.0 2.7148172043010748 4.5151042487977975
297.0 2.697347158218126 4.078252591712859
298.0 2.8900220174091142 4.287845630985122
299.0 2.597983870967742 4.0014560858667485
300.0 2.272150537634409 4.0578402705501135
301.0 2.5591642337159266 3.9519987080470393
302.0 2.2164625034463747 3.893366781495638
303.0 2.7292439358780647 4.0695111738460925
304.0 2.2911981566820274 4.031217272043107
305.0 2.5904966914805625 4.59851606073436
306.0 2.515227460711332 4.088214714202452
307.0 2.594606558471916 4.3610479093683665
308.0 2.9892535932332107 4.215600231465589
309.0 2.710341013824885 4.439176058797592
310.0 2.2694095887749466 4.6387499382338095
311.0 2.8693870967741937 4.352774274065743
312.0 3.1057673786954445 4.563698294364327
313.0 2.7912836811106136 4.236789653097452
314.0 2.683179889566986 4.354083396173719
315.0 2.3527854582693295 4.301527768501821
316.0 1.6364160822814402 4.3758667366974064
317.0 2.599045700442615 4.038514756348662
318.0 2.56551376237912 4.33550322932881
319.0 2.446710924107838 4.301195570525688
320.0 2.7708908477119274 4.26736965356804
321.0 2.4571505376344085 4.560465901903284
322.0 2.2402998882837593 4.550024032331014
323.0 2.573058939424297 4.524512510710897
324.0 2.638193548387097 4.427823883782205
325.0 2.4860899315738028 4.159373377589114
326.0 2.456137666845067 3.914019077273175
327.0 2.5877200083935343 3.997600238376145
328.0 2.688241634942897 4.054307794860881
329.0 2.1616743471582183 4.085626791267148
330.0 3.0258602150537635 4.675246223684753
331.0 2.190303670851565 4.079120455386933
332.0 2.812150537634408 4.432696967131808
333.0 2.499947171575503 4.275483551622601
334.0 2.683843117611701 4.366525717811566
335.0 2.512847507331378 4.3984741381107115
336.0 2.254454065685305 3.9768995602951565
337.0 2.710341013824885 4.445547680952532
338.0 2.590836181404198 4.476120602217376
339.0 2.7915244677930517 4.575069928435287
340.0 1.6584717327791334 4.55788310615559
341.0 1.8246669459572686 4.724912665884161
342.0 2.537150537634408 4.6398446537100115
343.0 2.4811187916026625 4.279154397364623
344.0 2.8356606563748383 4.661476034936302
345.0 2.7981816269284714 4.661476034936302
346.0 1.552983870967742 4.022575364827245
347.0 2.717825140809012 4.154036949997859
348.0 2.638193548387097 4.3040276378842055
349.0 2.272598144634198 3.8552791515015423
350.0 2.72605376344086 4.545382273071479
351.0 2.7382573521227096 4.402982793561658
352.0 2.5807616487455194 4.23298651618982
353.0 2.059372759856631 4.060052266093228
354.0 2.815483870967742 4.138917594484741
355.0 2.6663315412186384 4.467790130434549
356.0 1.6954160822814401 4.375102488824914
357.0 2.5260537634408604 4.469091761253102
358.0 1.9004479232553237 4.54734862493403
359.0 2.594606558471916 4.462231123714995
360.0 2.499947171575503 4.516811909153582
361.0 2.678547780742178 4.324512510710898
362.0 2.3171505376344084 4.278916305916306
363.0 2.1637494156147734 3.756655799759782
364.0 2.4107402812241516 4.066911241304186
365.0 2.6500884258331667 4.575069928435287
366.0 2.588290322580645 4.617962734869838
367.0 2.7694331463300603 4.463049151425595
368.0 2.7073340208178918 4.67342268919362
369.0 2.5271065584719157 4.636787549024845
370.0 2.7868362519201226 4.2282550699104515
371.0 2.8503870967741936 4.455308430681653
372.0 2.520483870967742 4.2869271970766505
373.0 2.6982225338943433 4.6398446537100115
374.0 2.4484073247338167 4.543988366472238
375.0 2.6125293255131963 4.449520430107528
376.0 2.5172530554999 4.083856201858978
377.0 2.6493475073313784 4.379555353611183
378.0 2.696973507360604 4.092406132518811
379.0 2.862628855015952 4.3245250772502075
380.0 2.360058185542056 4.052409092501392
381.0 2.5088172043010752 4.154162655893417
382.0 2.6364279690874444 3.9126800627456846
383.0 2.8593870967741934 4.564338173745155
384.0 2.6161187916026623 4.394933803585472
385.0 2.433389538285174 4.175299779050617
386.0 2.5924518147960973 4.475948032203798
387.0 2.6101642438022923 3.98127347189347
388.0 2.72605376344086 4.425831316653673

389.0 2.8465347367686076 4.224325332746943
390.0 2.6201505376344087 4.591390764427664
391.0 2.6990136744975457 4.199527394955111
392.0 2.7616743471582184 4.327047703691863
393.0 2.5079398918052496 3.8801716790490333
394.0 2.812150537634408 4.360464206067084
395.0 2.831566122049993 4.536065798735174
396.0 2.21093051414114 4.048393953526026
397.0 2.5289545669384377 4.341053069364922
398.0 2.8295178506866527 4.147507669811058
399.0 2.109947171575503 3.6483641874941157
400.0 2.514126728110599 4.174115929685128
401.0 1.46041608228144 3.9275540364085133
402.0 2.900744868035191 4.532347738015892
403.0 2.605187114584029 4.3266934889094335
404.0 1.9782407405351052 3.850088178889583
405.0 1.5700510230713018 3.2362491551459294
406.0 2.6089882630158234 4.232310416970759
407.0 2.7181783055654023 3.928949369641245
408.0 1.8613172043010753 4.460805914153082
409.0 2.1268287806941384 4.2585732662742455
410.0 2.411916105399976 3.7936423052843202
411.0 2.7052204301075267 4.169736544605834
412.0 2.806860215053763 4.6690984230822945
413.0 1.8616743471582182 4.1943386667259075
414.0 2.5934838709677424 4.464669795925768
415.0 2.660483870967742 4.578375547482528
416.0 2.773232537977642 4.22307471995334
417.0 2.1421505376344085 3.9172610663327303
418.0 1.947320532514081 4.4037554540851085
419.0 2.770785458269329 4.4808491777782535
420.0 2.461674347158218 4.418196246218254
421.0 2.260971637836996 4.135337846621281
422.0 2.5721573726765024 4.0718077824818195
423.0 2.6159716378369953 4.0174704221898905
424.0 2.193720430107527 4.344812713899139
425.0 1.9976808406647115 3.8231371901992524
426.0 2.7960754460593167 4.252949424254133
427.0 2.886659824046921 4.541719466978573
428.0 2.486598678483049 4.231055296898993
429.0 2.533777521761393 3.9642698678742265
430.0 2.7722717497556206 4.14316976408135
431.0 2.3095228019857332 3.938755387648585
432.0 2.5824940043593623 4.1830984611988455
433.0 2.0727854582693293 4.333799927371059
434.0 2.229225606090963 4.284944479569167
435.0 2.4934016592045167 3.8760378313610033
436.0 2.7174102778941487 4.098912711045017
437.0 2.4937137460040684 4.138713080981665
438.0 2.5397314155090447 4.293627994742529
439.0 2.3321505376344085 4.2050838386288305
440.0 2.5030984855289153 4.584365312019068
442.0 2.4818957491906484 3.888190654806558
444.0 2.6571505376344087 4.319798789211008
445.0 1.611198156682028 3.447144017904929
446.0 2.291590685456043 3.852349611165505
447.0 2.629557403325987 4.627643682700724
448.0 1.7683410138248845 4.407866533523764
449.0 2.4469124423963136 4.245458778752332
450.0 2.442150537634409 4.1079226688126385
451.0 1.9073956606740619 3.853359555941926
452.0 2.676761863312003 4.627643682700724
453.0 2.4709978045619203 4.082700534361697
454.0 2.3315906854560433 4.059482238082024
455.0 2.758010069406984 4.252270019670515
456.0 2.5040827489481066 4.047293134537749
457.0 2.9743792023697475 4.587257545696074
458.0 2.7804933909354026 4.239970475760798
459.0 2.600855665839537 3.9827367043483703
460.0 2.364387096774194 3.964967401909482
462.0 2.3974347158218126 4.5263569183504675
2.43479518969462
4.244778095778713

In [87]:
best_ratings

[2.2660899315738026]

In [58]:
recommendations[1]
r_best = recommendations.copy()
r_worst = recommendations.copy()
r_random = recommendations.copy()

[282, 340, 365, 303]

In [91]:
counter = 0
summator = 0

for i in range(len(recommendations)):
    if (i+1 != 441 and i+1 != 443):
        for movie_id in recommendations[i+1]:
            counter += 1
            summator += calculate_film_rating(i+1, movie_id)
        
summator/counter

3.4820578314590835

In [92]:

(3.4820578314590835 - 2.43479518969462) /(4.244778095778713 - 2.43479518969462)

0.5786036090419336